* {
    background-color: black;
}
h3 {
    font-size: 50px;
    text-align: center;
    color: white;
}
h2 {
    font-size: 50px;
    text-align: center;
    color: white;
    text-decoration: underline ;
}
.gradient-bar {
    height: 5px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(
        to right,
        blue, purple, pink
    );
          
}
.img-container {
   text-align: center;
   border-color: aqua;
    
}
img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 14px color blue;
}
.navbar-container {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}
a:hover {
    color: aqua;
}
p {
    text-align: center;
    color: white;
    font-size: 50px;
}
.form-border {
    width: 500px;
    height: 500px;
    padding: 15px;
    margin: 100px auto;
 
    background: linear-gradient(
        to right,
        blue,
        purple,
        pink
    );
    
    border-radius: 20px;
}
form {
    background-color: aqua;
    padding: 30px;
    border-radius: 18px;
    
}
.button-container {
    color: blue;
    font-size: 40px;
    text-align: left;
}
button {
    background: linear-gradient(to right, blue, purple, pink);
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
}
button:hover {
    color: lightblue;
}
footer {
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: 50px;
}
footer:hover {
    color: aqua;
}
